<center>
<h1>Contact Me</h1>

<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.text_field :name, size: "30x10", placeholder: "Name" %>
    </div>
    
    <div class="field">
      <%= message_form.email_field :email, size: "30x10",  placeholder: "Email"%>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, size: "40x5" , placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Send" %>
    </div>
  </fieldset>
  
  </center>
<% end %>
